*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

/* Pour permettre au footer de rester en bas de la page même quand il y a peu de contenu*/
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
